.myPage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    .userDescription {
        flex: 2;
        margin-right: 10px;
        padding: 10px;
    }
    .myPosts {
        flex: 5;
        padding: 10px;
    }

}


