.navbar {
    display: flex;
    flex-direction: column;
    div {
        a {
            text-decoration: none;
            color: black;
            &.active {
                color: black;
            }
        }
    }
}