.post {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
        .postImg {
            .postAvatar {
                height: 45px;
                border-radius: 100%;
            }
        }
        .postPost {
            color: black;
            display: flex;
            align-items: center;
            margin: 0 5px;
            padding: 10px 10px;
            border: 1px solid #ebe8e8;
            border-radius: 5px;
            max-width: 350px;
        }
        .postLikes {
            display: flex;
            align-items: flex-end;
        }
}

